.icons {
    height: 32px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    width: 60px;
  height: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-color: #0F0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0F0;
}

input:checked + .slider#redSwitch {
  background-color: #0F0;
}

input:focus + .slider#redSwitch {
  box-shadow: 0 0 1px #0F0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer-row {
    background: #66A7A7;
    padding: 20px;
}

.header-row {
    background: #00A8CF;
    padding: 20px;
}

.middle-row {
    background: #F8C532;
    padding: 20px;
}

.data-value {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.increment {
    background-color: #148b10;
    margin-left: 10px;
    border-radius: 2px;
    padding: 4px 8px;
}

.decrement {
    background-color: #8b1014;
    margin-right: 10px;
    border-radius: 2px;
    padding: 4px 8px;
}

.increment, .decrement{
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}